<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>515518090032-76kdu5i2135t83nvcm16emn525ldtmdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515518090032-76kdu5i2135t83nvcm16emn525ldtmdb</string>
	<key>API_KEY</key>
	<string>AIzaSyDHwyDSTTG91YL5I3zDg9f-1goXtkVJTIU</string>
	<key>GCM_SENDER_ID</key>
	<string>515518090032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JS.CatchEmAll</string>
	<key>PROJECT_ID</key>
	<string>catchemall-3beed</string>
	<key>STORAGE_BUCKET</key>
	<string>catchemall-3beed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515518090032:ios:2db89caa3eddfbc7</string>
	<key>DATABASE_URL</key>
	<string>https://catchemall-3beed.firebaseio.com</string>
</dict>
</plist>